$font-secondary: "Inter", sans-serif;
$backgroud-color-header: #DCDCDC;
$logo-color: rgb(255, 72, 0);
$button-color: #ffffff;
$lien-color: blue;
$black: black;

$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$text-color: #333;
$background-color: #f5f5f5;
$table-header-color: #2980b9;